body
{
    padding-top: 15px;
}
.hdn
{
    display: none;
}

#border_freenote
{
    width: 100%;
    border: 15px solid #d66a35;
}
#wrap_freenote
{
    width: 100%;
    height: 0;
    background: rgb(0, 50, 0);
    position: relative;
}
#freenote
{
    position: absolute;
    top: 0px;
    left: 0px;
}
#penclr
{
    margin-right: 15px;
}
.colorpicker-alpha
{
    display: none;
}
