#sense_area_wrap
{
    width: 100%;
    height: 400px;
    background: rgb(0, 50, 0);
    border: 15px solid #d66a35;
    position: relative;
}
#sense_area
{
    border: 1px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
}
sense_area_log
{
    position: absolute;
    top: 0px;
    left: 0px;
}
.dot
{
    position: absolute;
    font-size: 3px;
}
div#results_wrap
{
    height: 200px;
    overflow-y: scroll; 
    overflow-x: none;
    -webkit-overflow-scrolling: touch;
}
table#results
{
    /*table-layout: fixed;*/
    width: 100%;
    height: 100%;
}
.nowrap
{
    white-space: nowrap;
}
table#results td,
table#results th
{
    width: 50%;
}


.hdn
{
    display: none;
}
#penclr
{
    margin-right: 15px;
}
.colorpicker-alpha
{
    display: none;
}